NEXT_PUBLIC_API_URL=https://rekoma318.onrender.com
NEXT_PUBLIC_SITE_URL=https://rekoma-318.vercel.app
NEXT_PUBLIC_MVOLA_RECEIVER=+261345332429
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
ADMIN_SESSION_SECRET=2026#rekomALAHY
ADMIN_EMAIL=andrianisaina23@gmail.com
ADMIN_PASSWORD=2311saina!
ADMIN_ROLE=super_admin