DATABASE_URL=postgresql://misaina:f9JwdpMdtmdbtjjfZZdxNFDO2wd9DtMM@dpg-d9pehenlk1mc73dustlg-a.frankfurt-postgres.render.com:5432/rekoma

DB_HOST=dpg-d9pehenlk1mc73dustlg-a.frankfurt-postgres.render.com

DB_HOST=rekoma

DB_PASSWORD=f9JwdpMdtmdbtjjfZZdxNFDO2wd9DtMM

DB_PORT=5432
# JWT
JWT_SECRET=rekoma-jwt-secret-change-me-in-production-2026

# CORS / Frontend
CORS_ORIGIN=https://rekoma-318.vercel.app
FRONTEND_URL=https://rekoma-318.vercel.app

# Resend Configuration
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_FROM_NAME=REKOMA

# Pour le développement, utilisez votre email comme destinataire par défaut
CONTACT_TO_EMAIL=andrianisaina23@gmail.com

# Mode développement (true = redirige tous les emails vers votre email)
DEV_EMAIL_MODE=true
DEV_REDIRECT_TO=andrianisaina23@gmail.com

# Node
NODE_ENV=production
PORT=4000

# Optional
