# PostgreSQL
DATABASE_URL=postgresql://misaina:f9JwdpMdtmdbtjjfZZdxNFDO2wd9DtMM@dpg-d9pehenlk1mc73dustlg-a.frankfurt-postgres.render.com/rekoma

# JWT secret
JWT_SECRET=replace_with_strong_secret

# CORS allowed origin (frontend)
CORS_ORIGIN=https://rekoma-318.vercel.app

# Frontend base URL (reset-password links, emails, etc.)
FRONTEND_URL=https://rekoma-318.vercel.app

# MVola (pre-production)
MVOLA_TOKEN_URL=https://pre-api.mvola.mg/token/1
MVOLA_BASE_URL=https://pre-api.mvola.mg
MVOLA_API_KEY=https://pre-api.mvola.mg/mvola/mm/transactions/type/merchantpay/1.0.0
MVOLA_API_SECRET=your_mvola_consumer_secret
MVOLA_MERCHANT_PAI_IP_URL=https://pre-api.mvola.mg/mvola/mm/transactions/type/merchantpay/1.0.0
MVOLA_MERCHANT_PIN=your_merchant_pin
MVOLA_DEFAULT_RECEIVER=+261345332429

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PUBLISHABLE_KEY=pk_test_...

# Node environment
NODE_ENV=production

# App
PORT=5432

# Prisma
NODE_ENV=development

